.nav {
  display: flex;
  justify-content: space-evenly;
  height: 150px;

  @media (max-width: 600px) {
    height: 210px;
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #d0b58f;
    font-size: 60px;
    max-width: 90vw;
  }
}

.content {
  min-height: 750px;
  @media (max-width: 600px) {
    min-height: 71vh;
  }
  .container {
    width: 790px;
    background-color: rgba(255, 255, 255, 0.479);
    border-radius: 10px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    @media (max-width: 600px) {
      width: 90vw;
    }
  
    .inputs {
      margin-bottom: 50px;
      width: 100%;
    }
  
    .input {
      margin-top: 50px;
      border: none;
      padding: 10px;
      width: 70%;
    }
  
    .button {
      background-color: #70000e;
      border: none;
      text-decoration: none;
      cursor: pointer;
      color: #d0b58f;
      font-family: FuturaNDAlt;
      text-transform: uppercase;
      font-size: 30px;
      padding: 5px 20px;
    }
  }

  .folded {
    height: 390px;
    @media (max-width: 600px) {
      height: 400px;
    }
  }
  
  .expanded {
    height: 580px;
    @media (max-width: 600px) {
      height: 620px;
    }
  }

  .song-link {
    margin-top: 25px;
  }
  
  .result-text {
    font-size: 40px;
    margin-bottom: 10px;
    .result {
      color: #70000e;
    }
  }
  
  .hidden {
    display: none;
  }
}

.footer {
/*   position: absolute;
  top: 96%; */
  width: 100%;
  text-align: center;
  padding: 5px 0;
}

.button-link {
  margin-top: 25px;
  color: black;
  text-decoration: underline;
  border: none;
  background: none;
  font-family: 'FuturaNDAlt';
  font-size: 17px;
  cursor: pointer;
}

.link {
  color: black;
}

